* {
    /*font-family: Verdana, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;*/
}

body {
    background-color: #df4d19;
    color: #fefed5;

}

.colors-to-use {
    background-color: #99235c;
    outline-color: #df4d19;
    border-color: #a43737;
    column-rule-color: #572121;
}

.ww-main-index {
    font-family: 'Coiny', cursive;
    /*font-family: 'Monofett', cursive;*/
    /*font-family: 'Chango', cursive;*/
}

.ww-main-section {

}

.ww-navbar {
    background-color: #a43737;
    font-family: 'Coiny', cursive;
}

.ww-nav-item-disabled {
    pointer-events: none;
}

.ww-nav-item-active {

}

.ww-navbar-collapse {

}

.ww-flash-container {

}

.ww-login-container {
    margin: 3% auto 5% auto;
    position: relative;
}

.ww-login-form {
    position: relative;
    max-width: 50%;
    font-size: 1.25rem;
    margin: auto;
}

.ww-main-logo {
    margin: auto;
    padding: 0;
}

.date-choice {
    display: None;
    position: inherit;
    width: 30%;
}

.ww-title {
    font-size: 3rem;
    text-align: center;
    margin: 15px auto 40px auto;
}

#login-keep {
    margin-top: 7px;
    margin-bottom: 7px;
}

#login-submit {
    margin: 10px auto 10px auto;
    display: block;
    width: 100%;
}

#login-register {
    margin: 10px auto;
    display: block;
    width: 100%;
}