{% extends "bootstrap/base.html" %}

{% block title %}TITLE{% endblock %}

{% block head %}
    {{ super() }}
    <meta name="author" content="Maciej Cisowski (KnifeyMoloko)">
    <meta name="description" content="A little app for tracking users' weight.">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
{% endblock %}

{% block body %}
    {{ super() }}
    {% block body_content %}
    {% endblock %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    {{ datepicker.loader() }}
    <script type="text/javascript">
    $(function () {
        $('#dp').datepicker();
    });
    </script>
{% endblock %}
